<style>
  #facebox .content {
    padding-right: 0px !important;
  }
  .comments-block-odd {
    padding-right: 0px;
  }
  .comments-block-even {
    padding-right: 0px;
  }
</style>
<h1>Comments</h1>
<table style="width: 690px;">
  <%for comment in @coments%>
    <tr class="<%= cycle("comments-block-odd", "comments-block-even") -%>">
    <td>
      <p style="padding-top: 3px;word-wrap: break-word;width: 680px;"><%=comment.user_comment%></p>
    <p style="padding-top: 3px;text-align: right;"><i>by: <%=comment.user.name %> On:<%=comment.created_at.strftime(" %d/%m/%Y") if !comment.created_at.blank?%> </i></p>
    </td>
  </tr>
  <%end%>
</table>
<br />
<%if !current_user.blank?%>
  <%= render :partial => "/welcome/comment_box_script"  %>
  <%= form_tag({:controller=>'comment',:action=>'create'},:id=>"submit_comment") do %>
  <textarea id="comment_text" name="comment_text" style="width: 680px;height: 56px;"></textarea>
  &nbsp;&nbsp;
  <p class="errorMsgLeft_comment_text"></p>
  <%= hidden_field_tag 'u_id', current_user.id %>
  <%= hidden_field_tag 'pin_id', @pin %>
  <br /><%= image_tag "/images/comment.png" ,:id => 'post_data'%>
    <br />
  <% end %>
<%else%>
  <%= button_to "Login to add comments",:controller=>'user_sessions', :action => "new" %>
<%end%>

